<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/styleLogin.css') }}">
    <script src="https://kit.fontawesome.com/acb2d58f15.js"></script>

    <title>Login</title>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>

    <a class="navbar-brand" style="color: white" href="{{ url_for('index') }}">BolsasUFJF</a>

    <!-- PARA SOBREPOR AS COISAS-->
    <div class="modal-dialog  text-center">
      <div class="col-sm-9 main-section">
        <div class="modal-content">
          
          <div class="col-12 user-img">
            <img src = "{{ url_for('static',filename='styles/img/userImg.png') }}" alt = "UserImg">
          </div>

          <div class="col-12 form-input">

            <form id = "login" action = "\login" method="POST">
              
              <div class="form-group">
                <i class="fas fa-at"></i>
                <input name="email" type="email" class="formcontrol" placeholder="Digite seu email">
              </div>

              <div class="form-group">
                <i class="fas fa-lock"></i>
                <input name="password" type="password" class="formcontrol" placeholder="Digite sua senha">
              </div>

              <input type="submit" class="btn btn-success" value="Login">

              <div class="col-12 forgot">
                  <a href="#">Esqueceu a senha ?</a>
              </div>

              <div class="col-12 notSignedYet">
                  <a href="{{ url_for('cadastro') }}">Não possui cadastro ?</a>
              </div>
                
            </form>
            
          </div>

        </div>
      </div>

    </div>

  <!-- Footer -->
  <footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">&copy 2019 Copyright
     
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->


  </body>
</html>