<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/paginaProfessor.css') }}">
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static',filename='styles/js/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/js/popper.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/js/bootstrap.min.js') }}"></script>

    <title>Página do Professor</title>
  </head>
  <body>

    <nav class="navbar navbar-light bg-danger justify-content-between fixed-top">
      <a class="navbar-brand" style="color: white" href="{{ url_for('index') }}">BolsasUFJF</a>
    </nav>

    <hr>

    <div class="container">
      
      <img id="profileImg" src="../static/styles/img/userImg.png">


      <h3>Informações do Professor</h3>

      <div class="info">
        
        <p>Nome Completo : {{professor.nome + ' ' + professor.sobrenome}}</p>
        <p>E-mail para contato : {{professor.email}}</p>

        <div class="dropright">
          <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Bolsas abertas para inscrição
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {%for bolsa in bolsas%}
              {%if bolsa.ativa%}
              <a class="dropdown-item" href="/bolsa/{{bolsa.id}}">{{bolsa.titulo}}</a>
              {%endif%}
            {%endfor%}
          </div>
        </div>

        <div class="dropright">
          <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Histórico de bolsas já oferecidas
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {%for bolsa in bolsas%}
              <a class="dropdown-item" href="/bolsa/{{bolsa.id}}">{{bolsa.titulo}}</a>
            {%endfor%}

          </div>
        </div>

      </div>

    </div>
  

  <div class="container-fluid"><hr></div>

  <div style="margin: 25px;"></div>
  <!-- Footer -->
  <footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">&copy 2019 Copyright
     
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

  </body>
</html>