<!DOCTYPE html>

<!--- A Estrutura da página do aluno e do professor serão basicamente idênticas mudando apenas as opções, ambas as páginas mostrarão as bolsas registradas a diferença básica é que a página do professor deverá possuir um link para a publicação de novas bolsas. --->

<!--- Discutir como será feita a exibição do perfil do professor? Será uma segunda página relacionada à página do professor? O que ela irá retornar? Apenas uma descrição básica e uma lista de bolsas publicadas? --->

<html lang = "pt">

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Página Aluno</title>
		<meta name = "author" content="Renan Nunes, Victor Aquiles, Thiago Guimarães"/>

		<link rel="stylesheet" type="text/css" href="C:\Users\Renan\Documents\GitHub\BolsasUFJF\project\static\styles\css\PaginaAluno.css">
	
	</head>

	<body>

		<div class = "header">

			<div class = "linha">
				<header>
					
					<div class="container-fluid">
        
       					<h1><a id="Titulo" href="#">BolsasUFJF</a></h1>

   					 </div>

				</header>
			</div>

		</div>

		<div class = "linha">
			<div class = "info">
				<section>
					<h2>Informações básicas do Aluno:</h2>
					
					<p>Nome Completo : </p>
       				<p>E-mail para contato : </p>
        			<p>Curso : </p>

				</section>
			</div>
		</div>


		<div class = "linha">
			<div class = "info">
				<section>
					<h3>Bolsas selecionadas:</h3>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
	            			<a class="dropdown-item" href="#">Bolsa 1</a>
	           				<a class="dropdown-item" href="#">Bolsa 2</a>
	            			<a class="dropdown-item" href="#">Bolsa 3</a>
	            			<a class="dropdown-item" href="#">Ver todas</a>
						</div>
				</section>
			</div>
		</div>

		<div class = "linha">
			<div class = "footer">
				<footer>
					<span>&copy; 2019 - BolsasUFJF</span>
				</footer>
			</div>
		</div>


	</body>

</html>