<!DOCTYPE html>

<html lang= 'pt'>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Página Inicial</title>
		<meta name = "description" content="Projeto de Classificado de Bolsas feito por alunos da UFJF." />
		<meta name = "keywords" content="Bolsas, Projeto de Extensão, Alunos, UFJF" />
		<meta name = "author" content="Renan Nunes, Victor Aquiles, Thiago Guimarães"/>
		
		<link rel="stylesheet" href="C:\Users\Renan\Documents\GitHub\BolsasUFJF\project\static\styles\css\paginaInicial.css">
	    
	    <!-- link rel="stylesheet" href="{{ url_for('static',filename='styles/css\paginaInicial.css') }}"-->

	</head>

	<body>
		<div class = "header">
			<header>
				<div class = "coluna col4">
					<h1 class = "logo">UFJF</h1>
				</div>
				<div class = "coluna col8">
					<nav>
						<ul class = "menu inline sem-marcador">
							<li><a href="paginaInicial.html">home</a></li>
							<li><a href="alunos.html">alunos</a></li>
							<li><a href="professores.html">professores</a></li>
							<li><a href="login.html">login</a></li>
							<li><a href="sobre.html">sobre nós</a></li>
						</ul>
					</nav>
			</header>
		</div>
		<div class = "linha">
			<section>
				<div class = "coluna col3 sidebar">
					<h3>Oferta de bolsas</h3>
					<ul class = "sem-marcador sem-padding">
						<li><a href="">a</a></li>
						<li><a href="">b</a></li>
						<li><a href="">c</a></li>
						<li><a href="">d</a></li>
					</ul>
					<a href="bolsas.html" class = "botao">Ver todos &raquo;</a>
				</div>
				<div class = "coluna col9">
					<h2>Ultima bolsa: <em>Gerondino</em></h2>
				</div>
			</section>
		</div>
		<div class = "conteudo-extra">
			<div class = "linha">
				<div class = "coluna col7">
					<section>
						<h2>
							<p>Texto Aleatório</p>
							<p>Texto Aleatório</p>
							<p>Texto Aleatório</p>
						</h2>
					</section>
				</div>
				<div class="coluna col5">
					<h3>Ultimas notícias</h3>
					<ul class = "sem-marcador sem-padding notícias">
						<li>
							
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class = "footer">
			<div class = "linha">
				<footer>
					<div class = "coluna col12">
						<span>&copy; 2019 - BolsasUFJF</span>
					</div>
				</footer>
			</div>
		</div>
	</body>
</html>