<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/js/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/paginaProfessor.css') }}">


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>Página do Professor</title>
  </head>
  <body>

    <div class="container-fluid">
        
       <h1><a id="Titulo" href="#">BolsasUFJF</a></h1>

      <hr>

    </div>

    <div class="container">
      
      <img id="profileImg" src="../static/styles/img/userImg.png">


      <h3>Informações do Professor</h3>

      <div class="info">
        
        <p>Nome Completo : {{professor.nome + ' ' + professor.sobrenome}}</p>
        <p>E-mail para contato : {{professor.email}}</p>

        <div class="dropright">
          <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Bolsas abertas para inscrição
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {%for bolsa in bolsas%}
              {%if bolsa.ativa%}
              <a class="dropdown-item" href="/bolsa/{{bolsa.id}}">{{bolsa.nome}}</a>
              {%endif%}
            {%endfor%}
          </div>
        </div>

        <div class="dropright">
          <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Histórico de bolsas já oferecidas
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {%for bolsa in bolsas%}
              <a class="dropdown-item" href="/bolsa/{{bolsa.id}}">{{bolsa.nome}}</a>
            {%endfor%}

          </div>
        </div>

      </div>

    </div>
  

  <div class="container-fluid"><hr></div>

  <div style="margin: 25px;"></div>
  <!-- Footer -->
  <footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">&copy 2019 Copyright
     
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

  </body>
</html>