<!DOCTYPE html>

<!--- A Estrutura da página do aluno e do professor serão basicamente idênticas mudando apenas as opções, ambas as páginas mostrarão as bolsas registradas a diferença básica é que a página do professor deverá possuir um link para a publicação de novas bolsas. --->

<!--- Discutir como será feita a exibição do perfil do professor? Será uma segunda página relacionada à página do professor? O que ela irá retornar? Apenas uma descrição básica e uma lista de bolsas publicadas? --->

<html lang = "pt">

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Página Aluno</title>
		<meta name = "author" content="Renan Nunes, Victor Aquiles, Thiago Guimarães"/>
	
	</head>

	<body>

		<div class = "header">

			<div class = "linha">
				<header>
					
					<!--- Aqui deverão estar um iconezinho no canto, o nome do aluno e o tempo de sessão, O logo da ufjf e uma caixa de pesquisa. --->

				</header>
			</div>

		</div>

		<div class = "linha">

			<section>
				
				<!--- Aqui estarão os dados e uma opção de atualização dos mesmos --->

			</section>

		</div>


		<div class = "linha">

			<sidebar>

				<!--- Aqui deverão estar um menu de acesso com as bolsas do aluno, o tempo de finalização do edital --->

			</sidebar>

		</div>

		<div class = "linha">

			<footer>

				<!--- A ideia aqui é que seja um rodapé pequeno, um copy com a data e o nome do site apenas para estilizar --->

			</footer>

		</div>


	</body>

</html>